In [16]:
import os
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 

BASE_DIR = "/".join(os.getcwd().split("/")[: -1])
data_cleaned_dir = "/data/cleaned/yield_curve_historical_rates_MASTER.parquet"

In [14]:
df = pd.read_parquet(BASE_DIR + data_cleaned_dir)
print(df.shape)

df.head()

(12537, 16)

,Date,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr,2 Yr - 10 Yr,2 Yr - 30 Yr,10 Yr - 30 Yr
0,2024-04-29,5.48,5.51,5.45,5.43,5.20,4.97,4.80,4.65,4.64,4.63,4.86,4.75,0.34,0.22,-0.12
1,2024-04-28,5.48,5.51,5.46,5.40,5.21,4.96,4.84,4.68,4.68,4.67,4.89,4.78,0.29,0.18,-0.11
2,2024-04-27,5.48,5.51,5.46,5.40,5.21,4.96,4.84,4.68,4.68,4.67,4.89,4.78,0.29,0.18,-0.11
3,2024-04-26,5.48,5.51,5.46,5.40,5.21,4.96,4.84,4.68,4.68,4.67,4.89,4.78,0.29,0.18,-0.11
4,2024-04-25,5.48,5.51,5.47,5.41,5.21,4.96,4.85,4.70,4.71,4.70,4.93,4.82,0.26,0.14,-0.12

In [15]:
df.describe()

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr,2 Yr - 10 Yr,2 Yr - 30 Yr,10 Yr - 30 Yr
count,8309.000000,2023.000000,12537.000000,12537.000000,12537.000000,12537.000000,12537.000000,12537.000000,12537.000000,12537.000000,11169.000000,12537.000000,12537.000000,12537.000000,12537.000000
mean,1.444269,2.159995,2.701537,2.830654,2.943956,3.204086,3.394511,3.748657,4.032855,4.249773,4.360116,4.812510,-1.045687,-1.573141,-0.495179
std,1.701545,2.067255,2.296701,2.324013,2.311668,2.313731,2.261261,2.156048,2.076564,1.984193,1.671922,1.826279,0.919385,1.170337,0.330777
min,0.000000,0.000000,0.000000,0.020000,0.040000,0.090000,0.100000,0.190000,0.360000,0.520000,0.870000,0.990000,-2.910000,-4.010000,-1.600000
25%,0.060000,0.090000,0.180000,0.340000,0.500000,0.890000,1.280000,1.750000,2.180000,2.540000,2.820000,3.120000,-1.830000,-2.400000,-0.730000
50%,0.880000,1.860000,2.340000,2.460000,2.580000,2.960000,3.220000,3.620000,3.880000,4.140000,4.470000,4.850000,-0.990000,-1.630000,-0.510000
75%,2.190000,4.240000,5.010000,5.110000,5.050000,5.060000,5.200000,5.500000,5.700000,5.780000,5.620000,6.010000,-0.250000,-0.590000,-0.230000
max,6.020000,5.610000,8.260000,8.490000,8.640000,9.050000,9.110000,9.100000,9.120000,9.090000,8.300000,9.180000,1.080000,1.170000,0.370000

In [17]:
df.columns

Index(['Date', '1 Mo', '2 Mo', '3 Mo', '6 Mo', '1 Yr', '2 Yr', '3 Yr', '5 Yr',
       '7 Yr', '10 Yr', '20 Yr', '30 Yr', '2 Yr - 10 Yr', '2 Yr - 30 Yr',
       '10 Yr - 30 Yr'],
      dtype='object')

In [20]:
X = df[['Date', '3 Mo', '6 Mo', '1 Yr', '2 Yr', '3 Yr', '5 Yr',
       '7 Yr', '10 Yr', '20 Yr', '30 Yr', '2 Yr - 10 Yr']] 

y = df[['Date', '2 Yr - 10 Yr']]